.poster {
  position: absolute;
  width: 1240px;
  height: 186px;
  left: 100px;
  top: 148px;
  background: #c3e7fd;
  border-radius: 0px 10px 10px 0px;
  border: 1px solid whitesmoke;
}

.poster img {
  position: absolute;
  width: 294px;
  height: 186px;
  left: 0px;
  top: 0px;
}

.poster section {
  position: relative;
  width: 110px;
  height: 186px;
  left: 294px;
  top: 0px;
  background: #d3b4f6;
  border-radius: 1000px 0px 0px 1000px;
  transform: rotate(-180deg);
}

.poster span {
  position: absolute;
  width: 395px;
  height: 58px;
  left: 460px;
  top: 47px;

  font-family: BebasNeue-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.02em;
  color: #1e272e;
}

.poster p {
  position: relative;
  width: 319px;
  height: 36px;
  left: 460px;
  bottom: 100px;
  text-transform: lowercase;

  font-family: DMSans-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.02em;
  color: #566474;
}

.view_app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;

  position: absolute;
  width: 133px;
  height: 44px;
  right: 67px;
  top: 79px;

  background: #1e272e;
  border-radius: 5px;
}

.view_app p {
  position: static;
  width: 72px;
  height: 28px;
  left: 30.5px;
  top: 8px;
  font-family: DMSans-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 8px;
}

.text {
  position: absolute;
  width: 100px;
  height: 31px;
  left: 100px;
  top: 394px;

  font-family: DMSans-Bold;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: -0.02em;

  color: #000000;
}

.APIs {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  position: absolute;
  width: 1240px;
  height: max-content;
  top: 450px;
  left: 100px;
}
